
$card-blue:  rgba(0,20,116,0.7) !default;
$footer-bg: #121212 !default;

$faq-border: #D8D8D8 !default;
$button-color: #4B5DAE !default;
$dark-gray: #585858 !default;

$theme-colors: (
  "darker": #121212
);

