$card-blue: rgba(0, 20, 116, 0.7) !default;
$footer-bg: #121212 !default;

$faq-border: #d8d8d8 !default;
$button-color: #4b5dae !default;
$dark-gray: #585858 !default;

$theme-colors: (
	"darker": #121212,
);

$primary-font: "Galano", Georgia, Times, serif;
$primary-background-color: #ffc629;
